 .u-section-1 {
  background-image: url("images/b966a83996704f8830b5a2fd1cad2177.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-image-1 {
  width: 105px;
  height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 204px auto 0 139px;
}

.u-section-1 .u-image-2 {
  width: 195px;
  height: 199px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 226px 153px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 1118px;
  height: 468px;
  margin: -572px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 393px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-3 {
    width: 720px;
    height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 151px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 226px;
    margin-top: -497px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 67px;
    margin-right: 145px;
  }

  .u-section-1 .u-image-3 {
    height: 142px;
    margin-top: -302px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 378px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  left: 444px;
  top: 310px;
  height: 333px;
  transform-origin: center top 0px;
  transform: rotate(225deg);
}

.u-section-2 .u-group-1 {
  min-height: 211px;
  height: auto;
  width: 1010px;
  margin: 88px auto 40px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 644px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 644px;
  background-image: linear-gradient(#f5d654, black);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 10px;
  margin: 194px 20px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  text-transform: none;
  letter-spacing: normal;
  font-size: 3.75rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  width: 544px;
  letter-spacing: normal;
  line-height: 1.6;
  text-transform: none;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-link-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-bottom: 2px;
  margin: 52px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 581px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
}

.u-section-3 .u-image-1 {
  width: 464px;
  height: 464px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0.7);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 116px;
}

.u-section-3 .u-image-2 {
  width: 195px;
  height: 199px;
  margin: -56px 98px 37px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    letter-spacing: 7px;
    line-height: 2;
    text-transform: uppercase;
    width: 449px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    width: 383px;
    height: 383px;
    margin-top: 18px;
    margin-left: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    width: 344px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 108px;
    margin-left: 73px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    width: 322px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-3 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-top: 126px;
    margin-left: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 67px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: 343px;
    margin-top: 28px;
  }

  .u-section-3 .u-link-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 748px;
  }

  .u-section-3 .u-image-1 {
    width: 313px;
    height: 464px;
    margin-top: 0;
    margin-left: 35px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 58px;
    margin-right: 84px;
    margin-bottom: 0;
  }
} .u-section-4 {
  min-height: 580px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 580px;
  background-image: none;
}

.u-section-4 .u-image-1 {
  width: 464px;
  height: 464px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0.5);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -54px auto 0;
}

.u-section-4 .u-image-2 {
  width: 144px;
  height: 140px;
  margin: -41px 148px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 580px;
  background-image: linear-gradient(#f5d654, #db545a);
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 10px;
  margin: 60px 20px 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  text-transform: none;
  letter-spacing: normal;
  font-size: 3.75rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-3 {
  width: 544px;
  letter-spacing: normal;
  line-height: 1.6;
  text-transform: none;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-4 .u-link-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-bottom: 2px;
  margin: 52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 383px;
    height: 383px;
    margin-top: 18px;
    margin-right: 96px;
  }

  .u-section-4 .u-image-2 {
    width: 119px;
    height: 115px;
    margin-top: -7px;
    margin-right: 122px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    letter-spacing: 7px;
    line-height: 2;
    text-transform: uppercase;
    width: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 108px;
    margin-right: 73px;
  }

  .u-section-4 .u-image-2 {
    width: 91px;
    height: 88px;
    margin-top: 20px;
    margin-right: 93px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    width: 344px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-top: 126px;
    margin-right: 55px;
  }

  .u-section-4 .u-image-2 {
    width: 85px;
    height: 83px;
    margin-top: 25px;
    margin-right: 70px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    width: 322px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-4 .u-image-1 {
    width: 321px;
    height: 464px;
    margin-top: -62px;
    margin-right: 35px;
  }

  .u-section-4 .u-image-2 {
    width: 97px;
    height: 140px;
    margin: -54px auto 92px 29px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 748px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    width: 342px;
    margin-top: 29px;
  }

  .u-section-4 .u-link-1 {
    margin-top: 112px;
    margin-bottom: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(#db545a, #f5d654);
}

.u-section-5 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-5 .u-shape-1 {
  width: 883px;
  height: 817px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 228px 84px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 321px;
  height: 318px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: -1038px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 463px;
  height: 553px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 84px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 227px;
  height: 228px;
  background-image: linear-gradient(#adcce9, #72efe9);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -223px auto 0 69px;
}

.u-section-5 .u-list-1 {
  width: 675px;
  margin: -647px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 582px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 23px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 23px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 23px;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 23px;
}

.u-section-5 .u-image-3 {
  width: 212px;
  height: 211px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -722px 76px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-5 .u-shape-1 {
    width: 878px;
    height: 794px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    width: 310px;
    height: 307px;
  }

  .u-section-5 .u-image-2 {
    width: 434px;
    height: 519px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-5 .u-image-3 {
    margin-top: -677px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-5 .u-shape-1 {
    width: 504px;
    height: 526px;
  }

  .u-section-5 .u-image-1 {
    width: 273px;
    height: 271px;
    margin-top: -1092px;
  }

  .u-section-5 .u-image-2 {
    width: 296px;
    height: 354px;
  }

  .u-section-5 .u-shape-2 {
    width: 151px;
    height: 152px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    width: 504px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 572px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 20px 10px 7px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 20px 10px 7px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 20px 10px 7px;
  }

  .u-section-5 .u-container-layout-4 {
    padding: 20px 10px 7px;
  }

  .u-section-5 .u-image-3 {
    width: 158px;
    height: 157px;
    margin-top: -336px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-5 .u-shape-1 {
    height: 301px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 189px;
    height: 187px;
    margin-top: -528px;
  }

  .u-section-5 .u-image-2 {
    width: 246px;
    height: 294px;
    margin-top: 372px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-5 .u-shape-2 {
    width: 114px;
    height: 114px;
    margin-top: -164px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-5 .u-list-1 {
    width: 317px;
    margin-top: -551px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 426px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    width: 144px;
    height: 144px;
    margin-top: -537px;
    margin-right: 13px;
    margin-bottom: 382px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 498px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 41px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-6 .u-text-1 {
  position: relative;
  font-size: 3.75rem;
  letter-spacing: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 193px 0 20px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 2;
  position: relative;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 123px 0 20px;
}

.u-section-6 .u-image-1 {
  width: 126px;
  height: 128px;
  margin: -146px 20px 18px auto;
}

.u-section-6 .u-line-1 {
  width: 559px;
  position: absolute;
  left: 41px;
  top: 396px;
  transform-origin: left center 0;
  transform: rotate(317deg);
}

.u-section-6 .u-image-2 {
  background-image: url("images/5e8bdc0000034dc4ff332fa62730e0e0a0d7446a439b50d96ab375b7364ea4c9d45c5a66ba252f0bef331207e58441cf945b1c27592313a08975b7_1280.png");
  min-height: 416px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    letter-spacing: 7px;
    margin-right: 159px;
    margin-left: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 101px;
    margin-left: 16px;
  }

  .u-section-6 .u-image-1 {
    width: 104px;
    height: 106px;
    margin-top: -100px;
    margin-right: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 461px;
    left: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 122px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 78px;
    margin-left: 13px;
  }

  .u-section-6 .u-image-1 {
    width: 80px;
    height: 81px;
    margin-top: -75px;
    margin-right: 13px;
  }

  .u-section-6 .u-line-1 {
    width: 353px;
    left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 91px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 58px;
    margin-left: 9px;
  }

  .u-section-6 .u-image-1 {
    width: 75px;
    height: 76px;
    margin-top: -70px;
    margin-right: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 331px;
    left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 58px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 37px;
    margin-left: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 63px;
    height: 128px;
    margin-top: -146px;
    margin-right: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 278px;
    left: 12px;
  }

  .u-section-6 .u-image-2 {
    min-height: 473px;
  }
} .u-section-7 {
  min-height: 580px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 580px;
  background-image: linear-gradient(#f5d654, #a35559);
}

.u-section-7 .u-container-layout-1 {
  padding-left: 96px;
}

.u-section-7 .u-text-1 {
  letter-spacing: normal;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 170px 184px 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.6;
  letter-spacing: normal;
  text-transform: none;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px 199px 60px 0;
}

.u-section-7 .u-image-1 {
  min-height: 580px;
  background-image: url("images/ec8c308f4b855accbc8fb48c26b45d1e.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding-right: 79px;
}

.u-section-7 .u-text-3 {
  letter-spacing: normal;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 170px 0 0 200px;
}

.u-section-7 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.6;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px 0 60px 213px;
}

.u-section-7 .u-image-2 {
  width: 345px;
  height: 428px;
  filter: brightness(0.9);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -462px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 205px;
    padding-left: 79px;
  }

  .u-section-7 .u-text-1 {
    letter-spacing: 10px;
    font-size: 3rem;
    margin-right: 84px;
  }

  .u-section-7 .u-text-2 {
    line-height: 2;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 0.875rem;
    margin-right: 99px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-7 .u-text-3 {
    letter-spacing: 10px;
    width: auto;
    margin-left: 165px;
    font-size: 3rem;
  }

  .u-section-7 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 2;
    font-size: 0.875rem;
    width: auto;
    margin-left: 176px;
  }

  .u-section-7 .u-image-2 {
    width: 284px;
    height: 284px;
    margin-top: -401px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 61px;
    padding-right: 147px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 55px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 50px;
  }

  .u-section-7 .u-text-3 {
    width: NaNpx;
    margin-left: 126px;
  }

  .u-section-7 .u-text-4 {
    width: NaNpx;
    margin-left: 135px;
  }

  .u-section-7 .u-image-2 {
    width: 218px;
    height: 218px;
    margin-top: -335px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 118px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-image-1 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 37px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 95px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 101px;
  }

  .u-section-7 .u-image-2 {
    width: 204px;
    height: 204px;
    margin-top: -321px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 50vw;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 47px;
    padding-right: 68px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 480px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 47px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
    width: 345px;
    margin-top: 248px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin-top: 24px;
    margin-bottom: 50px;
    margin-left: 56px;
  }

  .u-section-7 .u-image-2 {
    width: 231px;
    height: 396px;
    margin-top: -678px;
    margin-bottom: 282px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 813px;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 164px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 20px 30px 50px;
}

.u-section-8 .u-image-1 {
  height: 682px;
  margin-top: -92px;
  margin-bottom: 0;
  box-shadow: 5px -6px 20px 0 rgba(0,0,0,0.25);
}

.u-section-8 .u-layout-cell-2 {
  min-height: 597px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-8 .u-text-1 {
  text-align: left;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin: 33px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 3.25rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  line-height: 1.8;
  margin: 21px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 90px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-8 .u-image-1 {
    height: 546px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.8125rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-8 .u-image-1 {
    height: 551px;
    margin-top: -45px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 100px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    height: 576px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.8125rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-8 .u-image-1 {
    height: 384px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 52px auto 0 0;
}

.u-section-9 .u-image-1 {
  background-image: url("images/0d4f3be0e1579b30b7843311adb654e0.jpeg");
  min-height: 416px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-image-2 {
  background-image: url("images/84f746bb156820cfb74672afd3952dc2.jpeg");
  min-height: 416px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-image-3 {
  background-image: url("images/6cb406cb0a5c5e47ba7535965ba686e7.jpeg");
  min-height: 416px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-image-4 {
  background-image: url("images/25f0b79c3e672c7f89d6914f559c81eb.jpeg");
  min-height: 416px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-image-5 {
  background-image: url("images/5c3e7a59acf5f23ba698b0d89b36a5c3.jpeg");
  min-height: 416px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: 4px 0 5px auto;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 500px;
  }
}